*{
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
header{
  background-image: url("images/photo-1477346611705-65d1883cee1e.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 93%);

}
 #name , a{
  color: aliceblue;
  font-weight: 300;
  font-family:Brush Script;
  font-size: 30px;
  cursor: pointer;
}
.nav-link{
  color: aliceblue;
  font-weight: 300;
  font-family:Brush Script;
  font-size: 20px;
  margin-left: 50px;
  font-weight:bolder;
}
#contact-me{
  background-color: #EB455F;
  border: none;
  border-radius: 15px;
  padding: 5px;
  color: #EEEEEE;
  margin-left: 50px;
  margin-top: 9px;
}
#contact-me:hover{
  background-color: #EEEEEE;
  color: #EB455F;
}
.img img{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 5px solid #92aca824;
  -webkit-box-shadow: 2px 7px 16px -4px #000000; 
box-shadow: 2px 7px 16px -4px #000000;

}
.img img:hover{
  -webkit-box-shadow: 5px 5px 12px 3px #FFFFFF; 
   box-shadow: 5px 5px 12px 3px #FFFFFF;
   cursor: pointer;
   width: 260px;
  height: 260px;
}
.me{
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
  
}
.me h1{
  color: aliceblue;
  padding-top: 20px;
  font-family:Brush Script;
  margin-top: 50px;
}
.job{
  font-size: 30px;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #B4CDE6, 0 0 30px #B4CDE6, 0 0 40px #B4CDE6, 0 0 55px #B4CDE6, 0 0 75px #B4CDE6, -1px 40px 2px #EB455F;
}
/* ************************section **********************/
#about{
  clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);
  background-color: #1E2131;
  
}
.about img{
  width: 450px;
  height: 500px;
  border: 1px solid #92aca824;
  /* border-radius: 30px; */
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);

}
.image{
  padding-left: 50px;
}
.text-col2 h3{
  color: #CE7777;
}
.text-col2 h1{
  color: #EDEDED;
}
.text-col2 p{
  font-size: 20px;
  color:#EEEEEE;
  letter-spacing: 3px;
  padding-top: 20px;
}
.information{
  border: 1px solid #EB455F;
  border-radius: 5px;
}
.information h5{
  color: aliceblue;
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}
.services{
  background-color: #24253C;
}
 h4{
  color:#EB455F;
  font-family: 'Courier New', Courier, monospace;
}
 h1{
  color:aliceblue;
  font-family: 'Courier New', Courier, monospace;
}
.services .col1{
  border: 1px solid #EB455F ;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
.services .col1 h1{
  font-size: 40px;
 text-transform: uppercase;
}
.services .col1 p{
  font-size: 25px;
  text-align: justify;
  color: #FFF;
}
.swiper{
  width: 70%;
  height: 90%;
}
.swiper img{
  width: 100%;
  height: 500px;
  border-radius: 15px; 
}
#portfolio{
  background-color: #373966;
}
.swiper-button-prev{
  margin-right: 50px;
}
.social #f{
  background: red;
}