*{
  padding: 0;
  margin: 0;
}
header{
  background-image: url("images/photo-1477346611705-65d1883cee1e.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 79%);

}
 #name , a{
  color: aliceblue;
  font-weight: 300;
  font-family:Brush Script;
  font-size: 30px;
}
.nav-link{
  color: aliceblue;
  font-weight: 300;
  font-family:Brush Script;
  font-size: 20px;
  margin-left: 50px;
  font-weight:bolder;
}
#contact-me{
  background-color: #EB455F;
  border: none;
  border-radius: 15px;
  padding: 5px;
  color: #EEEEEE;
  margin-left: 50px;
  margin-top: 9px;
}
#contact-me:hover{
  background-color: #EEEEEE;
  color: #EB455F;
}
.img img{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 5px solid #92aca824;
  -webkit-box-shadow: 2px 7px 16px -4px #000000; 
box-shadow: 2px 7px 16px -4px #000000;
}
.me{
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}
.me h1{
  color: aliceblue;
  padding-top: 20px;
  font-family:Brush Script;
}
