/*****************************************header***************************************************/
*{
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}
a .nav-link{
  color: rgb(7, 50, 88);
}
.nav{
  background-color: black;
  
}
header{
  background-color: black;
}



































































/* .typewriter p{
    padding-top: 50px;
   
}
.navbar{
    display: flex;
}
a{
    text-decoration: none;
    color: #fff;
    
    
    
}
header{
    background-color: whitesmoke;
    
}
header img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 174px;
    transition-property: inherit;
    border: 1px solid orange;
    cursor: pointer;
}
s
a:after{
    content:'';
    position: absolute;
    background-color: #FF1313;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: 2px;
    transition: 0.4s;
}
a:hover::after{
width: 23%;
}

.typewriter{
    display: inline-block;
  }
  .typewriter p{
    font-family: monospace;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 2px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    border-right: 0.15em solid orange;
    animation: blink 0.3s step-end infinite alternate,
    typing 3s steps(13);
  }
  @keyframes blink{
    50%{
      border-color: transparent;
    }
  }
  @keyframes typing{
    from{
      width: 0%;
      
    }
  } */






/****************************************************************aside************************************/


  